.w3tc-widget-totalcdn-logo {
	width: 150px;
	height: 50px;
	background: url('pub/img/totalcdn-logo.png') 0 8px no-repeat;
	background-size: contain;
	background-position: initial;
	float: left;
}

.w3tc_totalcdn_h4 {
	text-align: center;
}

.w3tc_totalcdn_summary_h4 {
	text-align: center;
	color: #8F8F8F;
	text-align: left;
	margin: 0;
}

.w3tc_totalcdn_summary {
	border-bottom: 1px solid #d2d2d2;
	padding-left: 10px;
	padding-right: 10px;
}

.w3tc_totalcdn_wrapper {
	margin-left: -10px;
	margin-right: -10px;
}

.w3tc_totalcdn_ul li {
	margin-bottom: 3px;
	padding: 0;
}

.w3tc_totalcdn_summary_col1 {
	display: block;
	font-weight: bold;
	width: 90px;
	float:left;
}

.w3tc_totalcdn_summary_col2 {
	display: block;
	font-weight: bold;
	width: 80px;
	float:left;
}

.w3tc_totalcdn_tools {
	margin-top:15px;
	padding-left: 10px;
	padding-right: 10px;
}

.w3tc_totalcdn_tools li {
	display:inline-block;
	margin-right:10px;
}

.w3tc_totalcdn_chart {
	clear: both;
	padding-left: 10px;
	padding-right: 10px;
}

.w3tc_totalcdn_chart p {
	color:#8F8F8F;
	margin:0;
}

.w3tc_totalcdn_wrapper .button-secondary {
	margin-bottom: 3px;
}

.w3tc_totalcdn_signup_h4 {
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 0;
}

.w3tc_totalcdn_signup p {
	margin-top: 4px;
	padding-top: 0;

}

.w3tc_totalcdn_signup p span.desc {
	color:#8F8F8F;
}
