span.w3tc-optimize:before {
	content:'\0041';
	display: inline-block;
	font-family: 'w3tc';
	font-size: x-large;
}

th span.w3tc-optimize:before,
th #w3tc-optimager-settings {
	vertical-align: text-bottom;
}

td span.w3tc-optimize:before {
	color: gray;
	margin-top: 5px;
}

td span.w3tc-optimized:before {
	color: green;
}

td span.w3tc-notoptimized:before {
	color: yellow;
}

.w3tc-optimized-reduced,
#w3tc-optimager-control .dashicons-yes {
	color: green;
}

.w3tc-optimized-increased,
.w3tc-optimize-error,
td span.w3tc-optimize-error:before,
.w3tc-optimager-error,
#w3tc-optimager-control .dashicons-no {
	color: red;
}

#w3tc-optimager-control {
	background: none repeat scroll 0 0 #fefefe;
	padding: 10px;
	position: absolute;
}

span#w3tc-optimager-controls:hover div#w3tc-optimager-control {
	display:block;
}

#w3tc-optimager-counts td {
	padding: 1px 10px;
}
