span.w3tc-optimize:before {
	content:'\0041';
	display: inline-block;
	font-family: 'w3tc';
	font-size: x-large;
	margin-top: 5px;
}

th span.w3tc-optimize:before,
th #w3tc-optimager-settings {
	vertical-align: text-bottom;
}

td span.w3tc-optimize:before {
	color: gray;
}

td span.w3tc-optimized:before {
	color: green;
}

td span.w3tc-notoptimized:before {
	color: yellow;
}

.w3tc-optimized-reduced {
	color: green;
}

.w3tc-optimized-increased,
.w3tc-optimize-error {
	color: red;
}
