#w3tc-dashboard-widgets.metabox-holder {
    margin:0;
	padding:0;
}

#w3tc-dashboard-widgets .hndle {
    height: 36px;
    line-height: 36px;
}

#w3tc-dashboard-widgets .hndle,
#w3tc-dashboard-widgets .hndle .w3tc-widget-w3tc-logo,
#w3tc-dashboard-widgets .hndle .w3tc-widget-text {
	cursor: default;
}

#w3tc-dashboard-widgets .hndle, #w3tc-dashboard-widgets .hndle span {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: none;
    -webkit-box-shadow:  none;
    box-shadow:  none;
}

#w3tc-dashboard-widgets #postbox-container {
    border: none;
}

#w3tc-dashboard-widgets .handlediv {
    display: none;
}

.w3tc-widget-newrelic-logo {
    float: left;
    width: 150px;
    height: 35px;
    background: url("pub/img/w3tc_newrelic-logo.png") 0 3px no-repeat;
}

.w3tc-widget-configure {
    float: left;
}

.w3tc-widget-text {
    float: left;
    padding-right: 10px;
}

.w3tc-widget-w3tc-logo {
    float: left;
    width: 50px;
    height: 35px;
    background: url("pub/img/w3tc_w3tc-logo.png") 0 0 no-repeat;
}

.w3tc-widget-services-logo {
    float: left;
    width: 50px;
    height: 35px;
    background: url("pub/img/w3tc_w3edge-logo.png") 0 0 no-repeat;
}

.w3tc-widget-pagespeed-logo {
    float: left;
    width: 110px;
    height: 35px;
    background: url("pub/img/w3tc_google-logo.png") 0 3px no-repeat;
}

.w3tc-widget-boldgrid-logo {
	width: 70%;
    height: 100%;
    background: url("Generic_WidgetBoldGrid_Logo.svg") 0 0px no-repeat;
    float: left;
	margin-right: 10px;
}

.general-settings-container {
	padding: 8px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 70px;
	row-gap: 10px;
}

.general-settings-container .general-setting {
	width: calc(33% - 45px);
	border-bottom: 2px solid #F0F0F0;
}

.general-settings-container .general-setting .general-setting-enabled {
	float: right;
	color: #B9C6CB;
}

.general-settings-container .general-setting .general-setting-enabled.setting-enabled {
	color: #006D4B;
}

.general-settings-description {
	text-align: center;
}

#w3tc-webp-widget-stats-container,
#w3tc-webp-widget-stats-container table {
	width: 100%;
}

#w3tc-webp-widget-stats-container table tr th {
	padding: 0 0 18px 0;
}

#w3tc-webp-widget-stats-container table tr td {
	padding: 0;
}

.w3tc-webp-widget-stats-title {
	text-align: center;
}

.w3tc-webp-widget-stats-stat {
	margin: 5px;
}

.w3tc-webp-widget-stats-stat-total,
.w3tc-webp-widget-stats-stat-totalbytes {
	max-width: 120px;
	text-align: right;
}

#w3tc_page_cache,
#w3tc_object_cache,
#w3tc_database_cache,
#w3tc_imageservice {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#w3tc_page_cache #page_cache_chart,
#w3tc_object_cache #object_cache_chart,
#w3tc_database_cache #database_cache_chart {
	width: 100%;
}

#w3tc_page_cache #page_cache_chart_ad,
#w3tc_page_cache #page_cache_chart_enable,
#w3tc_page_cache #page_cache_chart_subenable,
#w3tc_object_cache #object_cache_chart_ad,
#w3tc_object_cache #object_cache_chart_enable,
#w3tc_object_cache #object_cache_chart_subenable,
#w3tc_database_cache #database_cache_chart_ad,
#w3tc_database_cache #database_cache_chart_enable,
#w3tc_database_cache #database_cache_chart_subenable {
	display: flex;
  	align-items: center;
  	justify-content: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	width: 100%;
	height: 100%;
}

#w3tc_page_cache #page_cache_chart_ad,
#w3tc_page_cache #page_cache_chart_enable,
#w3tc_page_cache #page_cache_chart_subenable {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("pub/img/w3tc-stats-page-cache.png");
}

#w3tc_object_cache #object_cache_chart_ad,
#w3tc_object_cache #object_cache_chart_enable,
#w3tc_object_cache #object_cache_chart_subenable {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("pub/img/w3tc-stats-object-cache.png");
}

#w3tc_database_cache #database_cache_chart_ad,
#w3tc_database_cache #database_cache_chart_enable,
#w3tc_database_cache #database_cache_chart_subenable {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("pub/img/w3tc-stats-database-cache.png");
}
  
#w3tc_page_cache .postbox-header,
#w3tc_object_cache .postbox-header,
#w3tc_database_cache .postbox-header,
#w3tc_imageservice .postbox-header {
	flex: 0 0 auto;
}
  
#w3tc_page_cache .inside,
#w3tc_object_cache .inside,
#w3tc_database_cache .inside,
#w3tc_imageservice .inside {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#api_charts {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#api_charts #apihourly_chart,
#api_charts #apimonthly_chart {
	width: 50%;
}

#api_charts #apihourly_chart table tr td > div > div,
#api_charts #apimonthly_chart table tr td > div > div {
	width: 100%;
	margin: 0 auto;
}

svg > g:last-child > g:last-child { pointer-events: none }
div.google-visualization-tooltip { pointer-events: none }

#w3tc_imageservice .w3tc-webp-widget-stats-inactive {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

#w3tc_imageservice .w3tc-webp-widget-stats-inactive {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("pub/img/w3tc-webp-converter.png");
}

#w3tc_partners #partner-list li {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

#w3tc_partners #partner-list li .partner-logo {
	margin-right: 10px;
	display: flex;
	align-items: center;
}
  
#w3tc_partners #partner-list li .partner-logo img {
	display: block;
	height: auto;
}

#w3tc_partners #partner-bottom {
	text-align: right;
}

@media only screen and (max-width: 1200px) {
	.general-settings-container {
		column-gap: 35px;
	}

	.general-settings-container .general-setting {
		width: calc(50% - 18px);
	}
}

@media only screen and (max-width: 980px) {
	.general-settings-container .general-setting {
		width: 100%;
	}
}

@media only screen and (max-width: 782px) {
	.general-settings-container {
		column-gap: 35px;
	}

	.general-settings-container .general-setting {
		width: calc(50% - 18px);
	}
}

@media only screen and (max-device-width: 480px) {
    .w3tc_generic_widgetservice_label {
        display: inline;
    }

	.general-settings-container .general-setting {
		width: 100%;
	}
	#api_charts #apihourly_chart,
	#api_charts #apimonthly_chart {
		width: 100%;
	}
}
