.w3tcps_scores {
	display: flex;
	align-items: center;
	justify-content: center;
}

.w3tcps_scores p {
	padding: 0 10px;
}

.w3tcps_scores section {
	font-size: 30px;
	font-weight: bold;
}

.w3tcps_metric {
	margin-top: 10px;
	margin-bottom: 5px;
}

.w3tcps_barline {
	display: inline-flex;
    font-size: 14px;
	margin-bottom: 2px;
	min-width: 90px;
}

.w3tcps_barline div {
	text-align: left;
	padding-left: 10px;
	min-width: 38px;
	position: relative;
}

.w3tcps_barfast {
	background-color: #0cc66b;
	color: #fff;
}

.w3tcps_baraverage {
	background-color: #ffa400;
	color: #000;
}

.w3tcps_barslow {
	background-color: #ff4e42;
	color: #fff;
}

.w3tcps_buttons {
	display: flex;
	justify-content: center;
}

.w3tcps_buttons .button {
	margin: 5px !important;
}

.material-icons {
    margin: 0;
    display: inline-flex;
    vertical-align: middle;
}

.w3tcps_metrics_container {
    display: inline-block;
}

.w3tcps_metric {
    box-sizing: border-box;
    margin: 4px 2px;
}

.w3tcps_metric_title {
    font-size: 14px;
    line-height: 1.4;
}

.w3tcps_metric_title,
.w3tcps_metric_stats {
    padding: 8px 12px;
    margin: 0;
	text-align: left;
}

.w3tcps_metric .material-icons {
	margin: 0;
    display: inline-flex;
    vertical-align: middle;
    margin: 0 0 0 10px;
	max-width: 25px;
}

.w3tcps_loading {
    border: 7px solid #c3c3c3;
    border-top: 7px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.w3tcps_legend,
.w3tcps_content {
    padding: 15px;
    text-align: center;
}

.w3tcps_range {
    font-family: unset;
    font-size: 14px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    font-family: 'Roboto Mono', 'Menlo', 'dejavu sans mono', 'Consolas', 'Lucida Console', monospace;
    white-space: nowrap;
}

.w3tcps_range::before {
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 14px 0 6px;
}

.w3tcps_fail::before {
    width: 0px;
    margin: -14px 14px 0 6px;
    border-left: calc(14px / 2) solid transparent;
    border-right: calc(14px / 2) solid transparent;
    border-bottom: 14px solid #f33;
}

.w3tcps_average::before {
    background: #fa3;
    width: calc(14px * 0.88);
    height: calc(14px * 0.88);
}

.w3tcps_pass::before {
    border-radius: 100%;
    background: #0c6;
}

#w3tcps_legend {
	text-align: center;
}

.w3tcps_gauge_desktop,
.w3tcps_gauge_mobile {
	display: inline-block;
	width: 49%;
}

.gauge {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #a22);
    overflow: hidden;
    display: inline-flex;
    margin: 0 10px;
}

.gauge:before{
    content: "";
    display: block;
    padding-top: 50%;
}

.gauge .chart {
  overflow: hidden;
}

.gauge .mask {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #ffffff;
    border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
    position:  absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #aaa);
    transform:rotate(var(--rotation)); 
    transform-origin: bottom center; 
    transition-duration: 600;
}

.gauge:hover {
    --rotation: 100deg;
}
.gauge .value {
    position:absolute; 
    bottom:0%; 
    left:0;   
    width:100%; 
    text-align: center;
}

.gauge .min {
    position:absolute; 
    bottom:0; 
    left:5%;   
}

.gauge .max {
    position:absolute; 
    bottom:0; 
    right:5%;   
}