<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="tests">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>./</directory>
		</whitelist>
	</filter>
	<groups>
		<exclude>
			<group>ajax</group>
		</exclude>
	</groups>
	<php>
		 <ini name="display_errors" value="true"/>
	</php>
</phpunit>
