@media screen and (max-width: 900px) {
    .w3tc-card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 560px) {
    .w3tc-card-container {
        grid-template-columns: 1fr;
    }
	.w3tc-card-container-new {
		grid-template-columns: 1fr;
		row-gap: 2em;
    }
}

@media screen and (min-width: 560px) {
    .w3tc-card-container-new {
		grid-template-columns: repeat(auto-fit, minmax(275px, .4fr));
		grid-gap: 3em 4%;
    }
}

@media screen and (min-width: 900px) {
    .w3tc-card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
	.w3tc-card-container-new {
        grid-gap: 3.75em 5%;
    }
}

@media screen and (min-width: 1400px) {
    .w3tc-card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
	.w3tc-card-container-new {
        grid-gap: 6em 7%;
    }
}

.w3tc-page-container {
    max-width: 1234px;
    padding: 0;
}

#w3tc_dashboard_banner {
    max-width: 1234px;
    width: 100%;
}

.w3tc-card-container-divider {
	border-top-color: #CFCFD0;
}

.w3tc-card-container {
    display: grid;
    grid-gap: 2em;
}

.w3tc-card-container-new {
    display: grid;
	justify-content: center;
}

.w3tc-card-container,
.w3tc-card-container-new {
	margin-top: 5em;
	margin-bottom: 5em;
}

.w3tc-card-container-title {
	text-align: center;
	font-weight: 600 !important;
	font-size: 30px !important;
	margin: 10px 0 1em !important;
	box-shadow: 0 1px 1px -1px #888;
	background: #fff;
	background-image: none;
	background-image: none;
	padding: 33px 10px !important;
	background-image: linear-gradient( to right, #f9f9f9, #f9f9f9, #f9f9f9, #f0f0f0, #e7f3f3, #56bec1, #16252c);
	position: relative;
	padding-right: 280px;
	border: 1px solid #c3c4c7;
}

.w3tc-card-container-title::after {
	background-image: url("../img/transparent-comet.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 100% 100%;
	content: "";
	width: 251px;
	height: 104px;
	position: absolute;
	top: 0;
	right: 0;
}

.w3tc-card {
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    position: relative;
}

.w3tc-card-container-new .w3tc-card {
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
	border: none;
}

.w3tc-card-title {
    height: 2.5em;
}

.w3tc-card-title.w3tc-card-premium {
    background-color: #2d4149;
}

.w3tc-card-title.w3tc-card-premium>p {
    color: #fff;
}

.w3tc-card-title.w3tc-card-premium>p.w3tc-card-pro {
    color: #30bec3;
    margin: 0;
}

.w3tc-card-title>p:first-child {
    font-size: 1.3em;
    margin: 0;
    white-space: nowrap;
}

.w3tc-card-body {
    flex-grow: 10;
}

.w3tc-card-title,
.w3tc-card-body {
    padding: 10px 10px 15px 10px;
}

.w3tc-card-icon {
    border-top: 3px solid #000;
    border-bottom: 1px solid #ddd;
    height: 60px;
    padding: 20px 0;
    text-align: center;
}

.w3tc-card-icon .dashicons {
    font-size: 60px;
    height: 60px;
    width: 60px;
}

.w3tc-card-icon-inactive {
    border-top-color: #aaa;
}

.w3tc-card-icon img {
    max-height: 60px;
}

.w3tc-card-upgrade {
    background: #e7e7e7;
}

.w3tc-card-ribbon-new {
    text-align: center;
	padding: 7px 5px;
	background: #69BCC3;
	color: #3c434a;
}

.w3tc-card-ribbon-new b {
	font-weight: 600;
}

.w3tc-card-footer {
    margin: 0 0 20px 10px;
}

.w3tc-card-footer>div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}