.w3tc-manual-link {
    background-color: #efefef;
}
.w3tc-manual-link p {
    margin: 10px;
    padding:0;
    font-size:12px;
}
#w3tc-dashboard-widgets ul {
    margin: 0;
    padding: 0;
}
#w3tc-dashboard-widgets li {
    list-style-type: none;
    margin-bottom: 15px;
}

#w3tc-dashboard-widgets ul.w3tc-visible-ul li {
	list-style-type: disc;
	margin-bottom: 0;
}

#w3tc-dashboard-widgets #normal-sortables #w3tc_spreadtheword label{
    display: block;
    width: 70px;
    float: left;
    line-height: 30px;
}

#w3tc-dashboard-widgets h3.hndle img {
    vertical-align: middle;
    margin-right:10px;
}

.w3tc_generic_widgetservice_label {
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
    width: 270px;
}

.w3tc_generic_widgetservice_radio_outer {
    float: left;
    margin-top: 1px;
}

#w3tc_spreadtheword .inside {
    margin-right: 30px;
}

#w3tc_services p {
    margin-left: 30px;
}

.widgets-container .meta-box-sortables {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 20px;
	justify-content: center;
}

/* 1/3 width widget column - calc(33.33% - 13.5px)*/
.widgets-container .meta-box-sortables .postbox {
	width: calc(33.33% - 13.5px);
	min-height: 300px;
	box-sizing: border-box;
	margin: 0;
}

/* 1/2 width widget column - calc(50% - 10.5px)*/

/* 2/3 width widget column - calc(66.66% - 7px)*/
.widgets-container .meta-box-sortables #w3tc_settings,
.widgets-container .meta-box-sortables #w3tc_pagespeed {
	width: calc(66.66% - 7px);
}

#w3tc-dashboard-widgets .handle-actions {
	display: none; /* WP 5.5 - Dashboard widget reordering not working, so disable. */
}

#w3tc-dashboard-widgets .hndle {
	display: block; /* WP 5.5 */
}

.w3tc-enabled {
    color: #090;
    font-weight: 700
}

.w3tc-disabled {
    color: #f00;
    font-weight: 700
}

@media only screen and (max-width: 1200px) {
	.widgets-container .meta-box-sortables .postbox {
		width: calc(50% - 10.5px) !important;
	}
}

@media only screen and (max-width: 782px) {
	.widgets-container .meta-box-sortables .postbox {
		width: 100%  !important;
	}
}