/* Main container */

#w3tc-wizard-container {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    max-width: 900px;
}


/* Header */

#w3tc_wizard_header {
    background: #0e1920;
    border-bottom: 6px solid #cdeae7;
    height: 6em;
    position: relative;
}


/* Main title */

#w3tc_wizard_title {
    color: #fff;
    position: absolute;
    bottom: 0;
}


/* Title text: "TOTAL CACHE:" */

#w3tc_wizard_title>span:nth-of-type(1),
#w3tc_wizard_title>span:nth-of-type(2),
#w3tc_wizard_title>span:nth-of-type(3) {
    font-size: 2.5em;
}


/* Title text: "CACHE" */

#w3tc_wizard_title>span:nth-of-type(2) {
    color: #30bec4;
}


/* Title text: "$this->config['title']" */

#w3tc_wizard_title>span:nth-of-type(4) {
    font-size: 2.1em;
    font-style: italic;
}


/* Wizard icon (w3 cube with shadow) */

#w3tc_wizard_icon {
    position: absolute;
    top: 10px;
    left: -2px;
}


/**
 * Left nav / steps.
 */

ul#w3tc-options-menu {
    position: absolute;
    left: 0;
    top: 30px;
    margin: 0;
}

#w3tc-options-menu li {
    display: block;
    padding: 5px;
    margin: 0;
    border: 1px solid #ddd;
    border-bottom: 0;
    cursor: pointer;
}

#w3tc-options-menu li:last-of-type {
    border-bottom: 1px solid #ddd;
}


/* Active step */

#w3tc-options-menu li:hover {
    background-color: #f0f0f1;
}

#w3tc-options-menu li.is-active {
    background-color: #0073aa;
    color: #fff;
}

/* Wizard content */

#w3tc_wizard_content {
    background-image: url(../img/moon-bottom-left.png), url(../img/moon-bottom-right.png);
    background-size: 15% !Important;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, bottom right;
    background-size: auto, auto 60%;
    min-height: 575px;
    padding-right: 160px;
    position: relative;
}


/* Wizard content slides */

#w3tc_wizard_content .w3tc-wizard-slides {
    padding: 0 10px;
}


/* Footer */

#w3tc_wizard_footer {
    width: 100%;
}


/* Buttons */

#w3tc-wizard-buttons {
    display: flex;
}

#w3tc-wizard-buttons>span {
    flex: 1;
}


/* All buttons. */

#w3tc-wizard-buttons>span>button {
    width: 100%;
    border: 0;
    padding: 10px 0;
    cursor: pointer;
}


/* Next and Dashboard buttons. */

#w3tc-wizard-next:enabled,
#w3tc-wizard-dashboard {
    background-color: #2271b1;
    color: #fff;
    text-shadow: none;
}

#w3tc-wizard-next:enabled:hover,
#w3tc-wizard-dashboard:hover {
    background-color: #135e96;
    color: #fff;
}

#w3tc-wizard-next:disabled {
    background-color: #72aee6;
    color: #fff;
}


/* Miscellaneous */

#w3tc_wizard_title,
#w3tc_wizard_content {
    padding-left: 160px;
}

.w3tc-overlay {
    display: none;
}


/* Spinner */

.spinner.inline {
    float: none;
    visibility: visible;
    vertical-align: top;
    margin-left: 0px;
}

.spinner.spinner-left {
    margin-left: 5px;
}


/* Notices */

.w3tc-notice-recommended {
    padding-top: 5px;
}

.w3tc-notice-recommended .dashicons-lightbulb {
    color: #00a0d2;
}

#w3tc-dbcache-recommended {
    margin: 10px 0px;
}


/* Tables */

.widefat thead th,
.widefat td {
    line-height: 1em;
}

/* Image optimization slide */

.w3tc-io-description {
    margin-bottom: 10px;
}

#w3tc-io-learn-more {
    font-weight: 600;
}

.w3tc-io-rate-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 35px 0 12px;
}

.w3tc-io-rate-card {
    flex: 1 1 200px;
    border: 1px solid #dcdcde;
    border-radius: 6px;
    background: #f7f7f7;
    padding: 12px;
    position: relative;
}

.w3tc-io-rate-pro {
    background: #f0f8ff;
    border-color: #0073aa;
}

.w3tc-io-rate-current {
    border-color: #2271b1;
    box-shadow: 0 0 0 2px rgba(34, 113, 177, 0.1);
}

.w3tc-io-rate-badge {
    position: absolute;
    top: 8px;
    right: 12px;
    background: #2271b1;
    color: #fff;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 11px;
    font-weight: 700;
}

.w3tc-io-rate-label {
    display: block;
    font-weight: 700;
    margin-bottom: 4px;
}

.w3tc-io-rate {
    display: block;
    color: #1d2327;
    font-size: 13px;
}

.w3tc-io-upsell {
    margin: 12px 0;
    padding: 12px 12px 12px 60px;
}

.w3tc-gopro-manual-wrap .w3tc-gopro {
    padding-right: 170px !important;
}

.w3tc-gopro-manual-wrap .w3tc-gopro::after {
    width: 203px !important;
    height: 110px !important;
}
